<h1 id="h1">Dinesh is good boy</h1>

<button id="btn"> Click Me </button>
<script>
  document.getElementById("btn").addEventListener("click", function () {
    alert("How dare you touch me");
    if (document.getElementById("h1").innerText === "Dinesh is good boy") {
    document.getElementById("h1").innerText = "Dinesh is good GIRL"; } else { document.getElementById("h1").innerText = "Karthi is good boy" }
  
  })

</script>
